{% extends 'base.html' %}

{% block content %}
<br>

{% if user.is_authenticated %}
<h3>Hi, {{user.username}}</h3>
<form action="{% url 'registration:update-calories' %} "><input type="submit" value="Update Profile"></form>
{% else %}
<h3>You are not logged in.</h3>
{% endif %}
<hr>

{% include 'status.html' %}

<br>
<div class="row">
    
    <div class="col-md-5">
        
        <h5>Macros Remaining:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'registration:update-calories' %}">Update Calories</a>
            <table class="table table-sm">
                <tr>
                    <th>Protein</th>
                    <th>Carbohydrates</th>
                    <th>Fats</th>
                </tr>
                {% if user.is_authenticated %}
                <tr>
                    <td>{{proteinRemain}}</td>
                    <td>{{carbsRemain}}</td>
                    <td>{{fatRemain}}</td>
                </tr>
                {% endif %}

            </table>
        </div>
        <br>
        <h5>Macros:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Protein</th>
                    <th>Carbohydrates</th>
                    <th>Fats</th>
                </tr>
                {% if user.is_authenticated %}
                <tr>
                    <td>{{protein}}</td>
                    <td>{{carbs}}</td>
                    <td>{{fats}}</td>
                </tr>
                {% endif %}
        
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Last 5 Food Entries:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="http://127.0.0.1:8000/foodEntry/create/">Create Food Entry</a>
            <table class="table table-sm">
                <tr>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Protein</th>
                    <th>Carbohydrates</th>
                    <th>Fats</th>
                    <th>Type</th>
                </tr>
                {% if user.is_authenticated %}
                {% for foodItems in last5Food  %}
                    
                <tr>
                    <td><a class= "btn btn-sm btn-info" href=" {% url 'update-food' foodItems.id%} ">Edit</a></td>
                    <td><a class= "btn btn-sm btn-danger" href="">Delete</a></td>
                    <td>{{foodItems.name}}</td>
                    <td>{{foodItems.date_added}}</td>
                    <td>{{foodItems.protein}}</td>
                    <td>{{foodItems.carbohydrates}}</td>
                    <td>{{foodItems.fat}}</td>
                    <td>{{foodItems.time}}</td>
                </tr>
                {% endfor %}
                {% endif %}

            </table>
        </div>
    </div>

</div>

{% endblock %}