{% extends 'base.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
                
            <h3>{{user.username}}</h3>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'registration:update-profile' %}">Edit Account</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'registration:update-profile' %}">Delete Account</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Entry notes:</h5>
            <hr>
            <div style="color: dimgray">

            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Food Entries:</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{number_of_food}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
                {{foodFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4>Food Log:</h5>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Total Calories</th>
                    <th>Macros (P/F/C) </th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>

                {% if user.is_authenticated %}
                {% for foodItems in page_obj  %}
                
                <tr>
                    <td>{{foodItems.name}}</td>
                    <td>{{foodItems.calories}}</td>
                    <td>({{foodItems.protein}} / {{foodItems.fat}} / {{foodItems.carbohydrates}})</td>
                    <td>{{foodItems.date_added}}</td>
                    <td>{{foodItems.time}}</td>
                    <td><a class="btn btn-sm btn-info" href=" {% url 'update-food' foodItems.id%} ">Edit</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete-food' foodItems.id%}">Delete</a></td>
                </tr>
                {% endfor %}
                {% endif %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </table>
        </div>
    </div>
</div>



{% endblock %}