<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Calories</h5>
                </div>
                <div class="card-body">
                    <h5>{{user.profile.calories}}</h5>
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Calories Remaining</h5>
                </div>
                <div class="card-body">
                    <h5>{{user.profile.calories}} </h5>
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Today's Workout</h5>
                </div>
                <div class="card-body">
                    {% now "l" as current_day %}
                    {% if current_day == 'Monday' %}
                        <h5>{{current_day}} - Chest and Triceps</h5>
                    {% elif current_day == 'Tuesday' %}
                        <h5>{{current_day}} - Back and Biceps</h5>
                    {% elif current_day == 'Wednesday' %}
                        <h5>{{current_day}} - Legs</h5>
                    {% elif current_day == 'Thursday' %}
                        <h5>{{current_day}} - Rest</h5>
                    {% elif current_day == 'Friday' %}
                        <h5>{{current_day}} - Cardio</h5>
                    {% elif current_day == 'Saturday' %}
                        <h5>{{current_day}} - Shoulders and Arms</h5>
                    {% elif current_day == 'Sunday' %}
                        <h5>{{current_day}} - Rest</h5>
                    {% endif %}
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
</div>