{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Fitness.AIO using Django</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        
</head>

<body>
    {% include 'navbar.html'%}
    <div class="container-fluid">
        {% block content %}
    
    
    
        {% endblock %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% include 'js.html' %}
    <script>
        $(document).ready(function () {
            {% block jquery %} {% endblock %}
        })
    </script>
</body>
</html>